.button {
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.button:active {
  background-color: black;
  color: white;
}

.navbar ul li a {
  padding: 8px 10px
}

@tailwind base;
@tailwind components;
@tailwind utilities;
