.button {
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
}

.button:active {
  background-color: black;
  color: white;
}

.navbar ul li a {
  padding: 8px 10px
}

p.registerLink:hover  {
  background-color: black;
  color: white;
  
}

.swiper-button-next::after,.swiper-button-prev::after{
color: yellow;
}


.bannerTitle {
  text-shadow: 0px 0px 3px black;
}

body {
  background-color: #fff;
}

.offerContainer .offerBox:last-child img{
  border-bottom-right-radius: .75rem;
}

.addSpot .input input {
  background-color: black;
}

label.input:focus, label.input:focus-within {
  outline: none;
  border-color:transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
